body 
    background-color: #d9d9d9


.div-center 
  width: 400px
  height: 400px
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto
  max-width: 100%
  max-height: 100%
  overflow: auto
  padding: 1em 2em
  display: table

.main-btn 
    width: 100% !important

.center
    text-align: center        

.space-top
    margin-top: 25px    